@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&family=Parkinsans:wght@300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
.container{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(135deg,#153677,#4e085f);
    padding:10px;
}
.todo{
    background-color: #fff;
    width: 100%;
    max-width: 540px;
    margin:100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.todo h2{
    color: #002765;
    margin-bottom: 20px;
}
.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background: #edeef0;
    border-radius: 30px;
    padding-left: 20px;
    margin-bottom: 25px;
}
.row input{
    flex-grow: 1;
    border: none;
    background: transparent;
    outline: none;
    padding: 10px;
}
.row button{
    border: none;
    outline:none;
    padding: 16px 50px;
    background-color: #ff5945;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px;
}
ul li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
    font-size: 20px;
}
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url('unchecked.png');
    background-size: cover;
    background-position: center;
    left: 8px;
    top: 12px;
}
.checked{
    text-decoration: line-through;
    color: #555;
}
.checked::before{
    background-image: url(checked.png);
}
ul li span{
    position: absolute;
    right:0;
    top: 5px;
    width: 40px;
    height: 40px;
    color: #555;
    font-size: 22px;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background: #edeef0;
    border-radius: 50%;
}